<h1>About Me</h1>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p>My name is Ed Mir and this is a study project. I started to learn Ruby on Rails in September 2022.</p>
      <p>This is my first project on RoR.</p>
  <div>
</div>

<div class="container" >
  <div class="row">
    <div class="col-12">
      <h3>Useful links</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p><a href="https://github.com/EdM1r/FriendsApp">This app on GitHub</a></p>
      <p><a href="https://twitter.com/canonnist">My twitter</a></p>
      <p>Telegram: @edm1r</p>
    </div>
  </div>
</div>